<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Data Siswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card *ngFor="let item of dataSiswa">
  <ion-item>
    <ion-label>
      {{item.nama}}
      <p>{{item.nilai_kehadiran}}</p>
    </ion-label>
  </ion-item>
  <ion-button color="block" (click)="open_modal_edit(true, item.id)">Edit</ion-button>
  <ion-button color="block" (click)="hapusSiswa(item.id)">Hapus</ion-button>
</ion-card>

<ion-card>
  <ion-button (click)="open_modal_tambah(true)">Tambah Siswa</ion-button>
</ion-card>

<!-- Modal for adding a student -->
<ion-modal [isOpen]="modal_tambah">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Tambah Siswa</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Nama Siswa" labelPlacement="floating" required [(ngModel)]="nama"
          placeholder="Masukkan Nama Siswa" type="text">
        </ion-input>
        <!-- <ion-input placeholder="Masukkan Nama Siswa" type="text"></ion-input> -->
      </ion-item>
      <ion-item>

        <ion-input label='nilai_kehadiran Siswa' labelPlacement="floating" required [(ngModel)]="nila"
          placeholder="Masukkan nilai_kehadiran Siswa" type="text">
        </ion-input>
        <!-- <ion-label position="floating">nilai_kehadiran Siswa</ion-label>
        <ion-input placeholder="Masukkan nilai_kehadiran Siswa" type="text"></ion-input> -->
      </ion-item>
      <ion-row>
        <ion-col>
          <ion-button type="button" (click)="tambahSiswa()">Tambah</ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Button outside modal (removed) -->

<!-- Modal for editing a student -->
<ion-modal [isOpen]="modal_edit">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Batal</ion-button>
        </ion-buttons>
        <ion-title>Edit Siswa</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input label="Nama Siswa" labelPlacement="floating" required [(ngModel)]="nama"
          placeholder="Masukkan Nama Siswa" type="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-input label='nilai_kehadiran Siswa' labelPlacement="floating" required [(ngModel)]="nilai_kehadiran"
          placeholder="Masukkan nilai_kehadiran Siswa" type="text">
        </ion-input>
      </ion-item>
      <ion-input required [(ngModel)]="id" type="hidden"></ion-input>
      <ion-row>
        <ion-col>
          <ion-button type="button" (click)="editSiswa()" color="primary" shape="full" expand="block">Edit
            Siswa
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>